<p>products-table works!</p>
<table mat-table [dataSource]="tableProducts">
  <!-- ProductID Column -->
  <ng-container matColumnDef="productID">
    <th mat-header-cell *matHeaderCellDef> ProductID </th>
    <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
  </ng-container>

  <!-- ProductName Column -->
  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef> ProductName </th>
    <td mat-cell *matCellDef="let element">
      <button nbButton outline status="info">{{element.name}}</button>
    </td>
  </ng-container>

  <!-- ProductType Column -->
  <ng-container matColumnDef="productType">
    <th mat-header-cell *matHeaderCellDef> ProductType </th>
    <td mat-cell *matCellDef="let element"> {{element.articul}} </td>
  </ng-container>

  <!-- ProductPrice Column -->
  <ng-container matColumnDef="productPrice">
    <th mat-header-cell *matHeaderCellDef> ProductPrice </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="productionDate">
    <th mat-header-cell *matHeaderCellDef> productionDate </th>
    <td mat-cell *matCellDef="let element"> {{element.productionDate}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> actions </th>
    <td mat-cell *matCellDef="let product">

      <button (click)="editProduct(product)" mat-icon-button aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>

      <button (click)="deleteProduct(product)" mat-icon-button aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
