<p>product-input-form works!</p>
<ng-form>

  <mat-card>
    <mat-card-title>
      Add New Product
    </mat-card-title>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="product.name" name="name" placeholder="name"/>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="product.articul" name="articul" placeholder="articul"/>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="product.price" name="price" placeholder="price"/>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="product.amount" name="amount" placeholder="amount"/>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="addNewProduct()">Primary</button>
    </mat-card-actions>

  </mat-card>


  <!--<mat-form-field appearance="fill">
    <input matInput [(ngModel)]="product.name" name="something" placeholder="Input"/>
  </mat-form-field>-->


</ng-form>

